apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJpVENDQVMrZ0F3SUJBZ0lRVFM1V21rWURBY2lwZENmamtzWTJ2ekFLQmdncWhrak9QUVFEQWpBVk1STXcKRVFZRFZRUUtFd3ByZFdKbGNtNWxkR1Z6TUI0WERUSTJNREV4TmpFek1UWXdNVm9YRFRNMk1ERXhOREV6TVRZdwpNVm93RlRFVE1CRUdBMVVFQ2hNS2EzVmlaWEp1WlhSbGN6QlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VICkEwSUFCTk9TZG1LNjZSV3hsSkFGdCtwakxGaDNEWTRDU0h2RE9aZWw2V3p1U2xXRmFkN1JPVE9HazJBbkNEdkMKcUJabjMrYng1b1pocUdsUWI0aGVrS1pUVmlDallUQmZNQTRHQTFVZER3RUIvd1FFQXdJQ2hEQWRCZ05WSFNVRQpGakFVQmdnckJnRUZCUWNEQVFZSUt3WUJCUVVIQXdJd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVaZHZjcW45WXpkeStydkZYVVhpYkRKNklBS1V3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUlnUXg5WmFKQmoKb2VvVmdnMCs3OW81TVloRlhPUXhOdnBvZ0pvdFcxZ3dXN1VDSVFESlNIc3YwRWM0a1FOUDIvWHFORm1Iem5yNAplMHZjdUt5SlphdjhIOUUrR1E9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    server: https://10.101.0.11:6443
  name: sol
contexts:
- context:
    cluster: sol
    namespace: default
    user: admin@sol
  name: admin@sol
current-context: admin@sol
kind: Config
users:
- name: admin@sol
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJoVENDQVN1Z0F3SUJBZ0lSQUptemNIbW1mZUVOZHlLbjQ3LzFYNnd3Q2dZSUtvWkl6ajBFQXdJd0ZURVQKTUJFR0ExVUVDaE1LYTNWaVpYSnVaWFJsY3pBZUZ3MHlOakF4TVRZeE16SXdNalJhRncweU56QXhNVFl4TXpJdwpNelJhTUNreEZ6QVZCZ05WQkFvVERuTjVjM1JsYlRwdFlYTjBaWEp6TVE0d0RBWURWUVFERXdWaFpHMXBiakJaCk1CTUdCeXFHU000OUFnRUdDQ3FHU000OUF3RUhBMElBQk9IVVFmdDFNalczNXY0V29mbDYwaGRJU0hLbGdXSjkKYkJya0RHcUF4ZTBPblQzZEVZSkkyeXJUeUZoeWNzdTFFM2d1aW84a3FSc0Jta0VIS3hqdmZiYWpTREJHTUE0RwpBMVVkRHdFQi93UUVBd0lGb0RBVEJnTlZIU1VFRERBS0JnZ3JCZ0VGQlFjREFqQWZCZ05WSFNNRUdEQVdnQlJsCjI5eXFmMWpOM0w2dThWZFJlSnNNbm9nQXBUQUtCZ2dxaGtqT1BRUURBZ05JQURCRkFpQW5FaHhmdG84VUhxaEIKd1V4aEpvWXBIQmF3WklWN0hCZFVEekZLemI0UjRRSWhBSUxtM1lIcUhpMmRuR1Z5MFY3S1hYeEFhM1REc1Q2YQpMZDNmQlZZVGU0dXgKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUdKZkp5Y1lISEpqY2IrQlVvMk1PVXBtUm9lUzNtUFh0K1JDclFpbjhrRnhvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFNGRSQiszVXlOYmZtL2hhaCtYclNGMGhJY3FXQlluMXNHdVFNYW9ERjdRNmRQZDBSZ2tqYgpLdFBJV0hKeXk3VVRlQzZLanlTcEd3R2FRUWNyR085OXRnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
