# IPv6-only kubeadm init
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
imageRepository: registry.k8s.io
kubernetesVersion: v{{ k8s_semver }}
controlPlaneEndpoint: "[{{ k8s_api_vip }}]:6443"
networking:
  podSubnet: "{{ ipv6_pod_cidr }}"
  serviceSubnet: "{{ ipv6_service_cidr }}"
  dnsDomain: cluster.local
apiServer:
  extraArgs:
    advertise-address: "{{ k8s_api_vip }}"
  certSANs:
    - "{{ k8s_api_vip }}"
controllerManager: {}
scheduler: {}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ k8s_api_vip }}"
  bindPort: 6443
nodeRegistration:
  criSocket: /run/containerd/containerd.sock
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    cgroup-driver: systemd
