[defaults]
inventory       = inventory/hosts.ini
roles_path      = ./roles:~/.ansible/roles
collections_path = ~/.ansible/collections:collections
host_key_checking = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null


[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ForwardAgent=yes'
ansible_python_interpreter=/usr/bin/python3