[Unit]
Description=Run Kubernetes VIP Healthcheck every 5 seconds (control-plane only)
Requires=k8s-vip.service

[Timer]
OnBootSec=30
OnUnitActiveSec=5
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target