k8sServiceHost: "{{ control_plane_vip }}"
k8sServicePort: 6443
kubeProxyReplacement: true

ipam:
  mode: "kubernetes"

ipv4:
  enabled: false

ipv6:
  enabled: true

routingMode: "native"
ipv6NativeRoutingCIDR: "{{ pod_subnet }}"
autoDirectNodeRoutes: true

enable-ipv6-masquerade: true
k8s-require-ipv6-pod-cidr: true
k8s-require-ipv4-pod-cidr: false

bpf:
  masquerade: true

endpointRoutes:
  enabled: true

bgpControlPlane:
  enabled: true

metrics:
  enabled: true

hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
  metrics:
    enabled:
      - dns
      - drop
      - tcp
      - flow
      - icmp
      - httpV2
      - port-distribution
      - policy-verdict

gatewayAPI:
  enabled: true
  enableProxyProtocol: false
  enableAppProtocol: false
  enableAlpn: false
  xffNumTrustedHops: 0
  externalTrafficPolicy: Cluster
  gatewayClass:
    create: auto
  secretsNamespace:
    create: true
    name: cilium-secrets
    sync: true
  hostNetwork:
    enabled: false
    nodes:
      matchLabels: {}

l2NeighDiscovery:
  enabled: true

l2announcements:
  enabled: true

cni:
  install: true
