cluster_name: {{ cluster_name }}
kubernetes_version: {{ kubernetes_version }}
k8s_semver: {{ k8s_semver }}
control_plane_vip: {{ control_plane_vip }}
pod_subnet: {{ pod_subnet }}
svc_subnet: {{ svc_subnet }}
cilium_bgp_enabled: {{ cilium_bgp_enabled }}
kube_vip_interface: {{ kube_vip_interface }}
cilium_config_file: {{ cilium_config_file }}
flux_git_owner: {{ flux_git_owner }}
flux_git_repo: {{ flux_git_repo }}
k8s_repo_url: {{ k8s_repo_url }}
