# templates/kubeadm-init.yaml.j2
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

kubernetesVersion: v{{ k8s_semver | replace('~', '-') }}
clusterName: {{ cluster_name }}

controlPlaneEndpoint: "[{{ control_plane_vip }}]:6443"

proxy:
  disabled: true

networking:
  podSubnet: "{{ pod_subnet }}"
  serviceSubnet: "{{ svc_subnet }}"
  dnsDomain: "cluster.local"

apiServer:
  extraArgs:
    - name: advertise-address
      value: "{{ ansible_host }}"
    - name: bind-address
      value: "::"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet }}"

controllerManager:
  extraArgs:
    - name: cluster-cidr
      value: "{{ pod_subnet }}"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet }}"
    - name: node-cidr-mask-size-ipv6
      value: "64"
    - name: allocate-node-cidrs
      value: "false"

# etcd:
#   local:
    # ONLY truly global options here! (no per-node advertise/initial-* flags)
    # dataDir: /var/lib/etcd
    # extraArgs:
    #   - name: heartbeat-interval
    #     value: "100"
    #   - name: election-timeout
    #     value: "1000"
    # serverCertSANs:
    #   - "etcd.some-domain.local"
    # peerCertSANs:
    #   - "etcd.some-domain.local"

---
# -------------------------------------------------------------------
# 2) InitConfiguration: bootstrap the first control-plane
# -------------------------------------------------------------------
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

skipPhases:
  - addon/kube-proxy

localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443

nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ ansible_host }}"

---
# -------------------------------------------------------------------
# 3) KubeletConfiguration: kubelet tuning (used by both init & join)
# -------------------------------------------------------------------
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

failSwapOn: false
memorySwap:
  swapBehavior: LimitedSwap
cgroupDriver: "systemd"
