apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

kubernetesVersion: v{{ k8s_semver | replace('~', '-') }}
clusterName: {{ cluster_name }}

controlPlaneEndpoint: "[{{ control_plane_vip }}]:6443"

proxy:
  disabled: true

networking:
  podSubnet: "{{ pod_subnet_ipv6 }},{{ pod_subnet_ipv4 }}"
  serviceSubnet: "{{ svc_subnet_ipv6 }},{{ svc_subnet_ipv4 }}"
  dnsDomain: "cluster.local"

apiServer:
  extraArgs:
    - name: advertise-address
      value: "{{ ansible_host }}"
    - name: bind-address
      value: "::"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet_ipv6 }},{{ svc_subnet_ipv4 }}"
    - name: feature-gates
      value: "MutatingAdmissionPolicy=true"

controllerManager:
  extraArgs:
    - name: cluster-cidr
      value: "{{ pod_subnet_ipv6 }},{{ pod_subnet_ipv4 }}"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet_ipv6 }},{{ svc_subnet_ipv4 }}"
    - name: node-cidr-mask-size-ipv4
      value: "24"
    - name: node-cidr-mask-size-ipv6
      value: "64"
    - name: allocate-node-cidrs
      value: "true"
    - name: feature-gates
      value: "MutatingAdmissionPolicy=true"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

skipPhases:
  - addon/kube-proxy

localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443

nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ ansible_host }}"

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

failSwapOn: false
memorySwap:
  swapBehavior: LimitedSwap
cgroupDriver: "systemd"
