# templates/kubeadm-init.yaml.j2
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: v{{ k8s_semver }}
clusterName: {{ cluster_name }}
controlPlaneEndpoint: "[{{ control_plane_vip }}]:6443"
networking:
  podSubnet: "{{ pod_subnet }}"
  serviceSubnet: "{{ svc_subnet }}"
  dnsDomain: "cluster.local"

apiServer:
  certSANs:
    - "::1"
    - "localhost"
    - "{{ control_plane_vip }}"
    - "{{ inventory_hostname }}"
    - "{{ inventory_hostname }}.sulibot.com"
  extraArgs:
    - name: advertise-address
      value: "{{ ansible_host }}"

controllerManager:
  extraArgs:
    - name: cluster-cidr
      value: "{{ pod_subnet }}"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet }}"
    - name: node-cidr-mask-size-ipv6
      value: "64"

etcd:
  local:
    extraArgs:
      - name: advertise-client-urls
        value: "https://[{{ ansible_host }}]:2379"
      - name: initial-advertise-peer-urls
        value: "https://[{{ ansible_host }}]:2380"
      - name: initial-cluster
        value: "{{ inventory_hostname }}=https://[{{ ansible_host }}]:2380"
      - name: initial-cluster-state
        value: "new"
      - name: initial-cluster-token
        value: "etcd-cluster-1"
      - name: listen-client-urls
        value: "https://[::1]:2379,https://[{{ ansible_host }}]:2379"
      - name: listen-peer-urls
        value: "https://[::1]:2380,https://[{{ ansible_host }}]:2380"

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
  - name: node-ip
    value: "{{ ansible_host }}"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
failSwapOn: false
memorySwap:
  swapBehavior: LimitedSwap
cgroupDriver: "systemd"
