apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

kubernetesVersion: v{{ k8s_semver }}
clusterName: {{ cluster_name }}

controlPlaneEndpoint: "[{{ control_plane_vip }}]:6443"

proxy:
  disabled: true

networking:
  podSubnet: "{{ pod_subnet }},10.244.0.0/16"
  serviceSubnet: "{{ svc_subnet }},10.96.0.0/12"
  dnsDomain: "cluster.local"

apiServer:
  extraArgs:
    - name: advertise-address
      value: "{{ control_plane_vip }}"
    - name: bind-address
      value: "::"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet }},10.96.0.0/12"

controllerManager:
  extraArgs:
    - name: cluster-cidr
      value: "{{ pod_subnet }},10.244.0.0/16"
    - name: service-cluster-ip-range
      value: "{{ svc_subnet }},10.96.0.0/12"
    - name: node-cidr-mask-size-ipv4
      value: "24"
    - name: node-cidr-mask-size-ipv6
      value: "64"
    - name: allocate-node-cidrs
      value: "true"
# etcd:
#   local: {}
    # ONLY truly global options here! (no per-node advertise/initial-* flags)
    # dataDir: /var/lib/etcd
    # extraArgs:
    #   - name: heartbeat-interval
    #     value: "100"
    #   - name: election-timeout
    #     value: "1000"
    # serverCertSANs:
    #   - "etcd.some-domain.local"
    # peerCertSANs:
    #   - "etcd.some-domain.local"
etcd:
  local:
    initialCluster: >-
      {% for host in groups['controlplane'] -%}
      {{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ansible_host }}:2380{{ ',' if not loop.last else '' }}
      {%- endfor %}

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

skipPhases:
  - addon/kube-proxy

localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443

nodeRegistration:
  name: "{{ inventory_hostname }}"
#  criSocket: "/var/run/crio/crio.sock"
  criSocket: "/var/run/containerd/containerd.sock"
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ ansible_host }}"

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

failSwapOn: false
memorySwap:
  swapBehavior: LimitedSwap
cgroupDriver: "systemd"
