apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "[{{ control_plane_vip }}]:6443"
    token: "{{ bootstrap_token }}"
    caCertHashes:
      - "{{ ca_cert_hash }}"
controlPlane:
  certificateKey: "{{ certificate_key }}"
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    node-ip: "{{ ansible_host }}"

