# templates/kubeadm-bootstrap-rbac.yaml.j2
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubeadm-bootstrap-config-reader
  namespace: kube-system
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    resourceNames:
      - kubeadm-config
      - kubelet-config
      - kube-proxy
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubeadm-bootstrap-config-reader
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubeadm-bootstrap-config-reader
subjects:
  - kind: Group
    apiGroup: rbac.authorization.k8s.io
    name: system:bootstrappers:kubeadm:default-node-token
