network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      dhcp6: false  # Disable DHCP6/SLAAC autoconf
      accept-ra: false  # Don't process RAs
      ipv6-privacy: false  # Disable privacy extensions
      link-local: []  # Disable automatic link-local generation
      mtu: {{ interface_mtu }}
      addresses:
        - {{ vm_ipv4 }}/24
        - {{ vm_ipv6 }}/64
        - {{ vm_link_local }}/64
      routes:
        # IPv4 default route
        - to: 0.0.0.0/0
          via: {{ gateway_v4 }}
        # ULA gateway for routing to other ULA subnets (fc00::/7)
        - to: fc00::/7
          via: {{ gateway_v6 }}
      nameservers:
        addresses:
          - {{ dns_server_v6 }}
          - {{ dns_server_v4 }}
    lo:
      addresses:
        - {{ vm_loopback_v4 }}/32
        - {{ vm_loopback_v6 }}/128
