---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .app }}
  namespace: {{ .namespace }}
spec:
  refreshInterval: {{ .externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .externalSecrets.store }}
  target:
    template:
      data:
{{- range $key, $path := .externalSecrets.keys }}
        {{ $key }}: "{{ $path }}"
{{- end }}
