---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app {{ .app }}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      {{ .app }}:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: {{ .helmrelease.image.repository }}
              tag: {{ .helmrelease.image.tag }}
            env:

              TZ: America/Los_Angles
            envFrom:
              - secretRef:
                  name: {{ .app }}-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: {{ .app }}
        ports:
          http:
            port: &port {{ .service.port }}
    route:
      app:
        hostnames: ["{{ .app }}.sulibot.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: {{ .app }}-config
      config-cache:
        existingClaim: {{ .app }}-cache
        globalMounts:
          - path: /config/MediaCover
      media:
        type: nfs
        server: expanse.internal
        path: /mnt/eros/Media
        globalMounts:
          - path: /media
