---
machine:
  network:
    hostname: solcp011
    interfaces:
      - interface: eth1
        addresses:
          - fd00:101::11/64
          - 10.101.0.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.101.0.254
          - network: ::/0
            gateway: fd00:101::fffe
    nameservers:
      - fd00:101::fffe
      - 10.101.0.254
  nodeLabels:
    topology.kubernetes.io/zone: pve01
  type: controlplane
