---
machine:
  network:
    hostname: solwk021
    interfaces:
      - interface: eth1
        addresses:
          - fd00:101::21/64
          - 10.101.0.21/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.101.0.254
          - network: ::/0
            gateway: fd00:101::fffe
    nameservers:
      - fd00:101::fffe
      - 10.101.0.254
  nodeLabels:
    topology.kubernetes.io/zone: pve01
  type: worker
