frr version 10.3
frr defaults traditional
hostname {{ inventory_hostname }}
log syslog informational
service integrated-vtysh-config

router isis CORE
 net 49.0001.0000.0000.000{{ inventory_hostname[-1] }}.00
 is-type level-2-only
 metric-style wide
 log-adjacency-changes detail
 set-overload-bit on-startup 300
 passive-interface lo
 redistribute connected route-map EXPORT_VM_IPS
 redistribute connected route-map EXPORT_INFRA
 redistribute connected route-map EXPORT_MESH0
!
 track interface enp1s0f0np0
  track enp1s0f0np0
 track interface enp1s0f1np1
  track enp1s0f1np1
exit

interface lo
 ip router isis CORE
 ipv6 router isis CORE
 isis passive
 isis metric 20
exit

{% for iface in ['bond0.5','vmbr8','vmbr9','vmbr10','vmbr100','vmbr10`','vmbr101','vmbr103','mesh0'] %}
interface {{ iface }}
  ip router isis CORE
  ipv6 router isis CORE
  {% if iface != 'bond0.5' %}
  isis passive
  {% endif %}
  isis metric {{ '50' if iface == 'bond0.5' else '20' if iface.startswith('vmbr') else '1' }}
exit
{% endfor %}


interface tap*
 ip router isis CORE
 ipv6 router isis CORE
 isis passive
 isis metric 1
exit

interface enp1s0f0np0
 ip router isis CORE
 ipv6 router isis CORE
 isis circuit-type level-2-only
 isis network point-to-point
 isis hello-interval 1
 isis hello-multiplier 3
 isis metric 1
exit

interface enp1s0f1np1
 ip router isis CORE
 ipv6 router isis CORE
 isis circuit-type level-2-only
 isis network point-to-point
 isis hello-interval 1
 isis hello-multiplier 3
 isis metric 1
exit

router bgp 65100
 bgp router-id 10.255.255.{{ inventory_hostname[-1] }}
 no bgp default ipv4-unicast
 bgp graceful-restart
 bgp log-neighbor-changes
{% set id6 = inventory_hostname[-1] %}
{% for peer in ['fd00:255::1','fd00:255::2','fd00:255::3','fd00:255::fffe'] if peer!='fd00:255::'~id6 %}
 neighbor {{ peer }} remote-as {{ '65000' if 'fffe' in peer else 65100 }}
  neighbor {{ peer }} update-source fd00:255::{{ id6 }}
  {% if 'fffe' in peer %}
  neighbor {{ peer }} bfd
  neighbor {{ peer }} route-map DEPRIORITIZE_EBGP in
  neighbor {{ peer }} next-hop-self
  {% endif %}
{% endfor %}

 address-family ipv4 unicast
  redistribute connected route-map EXPORT_INFRA
  redistribute connected route-map EXPORT_VM_IPS
  redistribute connected route-map EXPORT_MESH0
  redistribute isis route-map FROM_ISIS
{% for peer in ['fd00:255::1','fd00:255::2','fd00:255::3','fd00:255::fffe'] if peer!='fd00:255::'~id6 %}
  neighbor {{ peer }} activate
{% endfor %}
 exit-address-family

 address-family ipv6 unicast
  redistribute connected route-map EXPORT_INFRA
  redistribute connected route-map EXPORT_VM_IPS
  redistribute connected route-map EXPORT_MESH0
  redistribute isis route-map FROM_ISIS
{% for peer in ['fd00:255::1','fd00:255::2','fd00:255::3','fd00:255::fffe'] if peer!='fd00:255::'~id6 %}
  neighbor {{ peer }} activate
{% endfor %}
 exit-address-family
exit

ip prefix-list ALLOW_VM_IPS seq 10 permit 10.0.0.0/8 le 32
ipv6 prefix-list ALLOW_VM_IPS seq 10 permit fc00::/8 le 128

route-map DEPRIORITIZE_EBGP permit 10
 set local-preference 50
 set metric 1000
exit

route-map FROM_ISIS permit 10
 match ip address prefix-list ALLOW_ISIS
 match ipv6 address prefix-list ALLOW_ISIS
exit

route-map EXPORT_INFRA permit 10
 match interface lo bond0.5 vmbr8 vmbr9 vmbr10
exit

route-map EXPORT_VM_IPS permit 10
 match interface tap*
 match ip address prefix-list ALLOW_VM_IPS
 match ipv6 address prefix-list ALLOW_VM_IPS
exit

route-map EXPORT_MESH0 permit 10
 match interface mesh0
exit

ip prefix-list ALLOW_ISIS seq 5 permit 10.0.0.0/8 le 32
ipv6 prefix-list ALLOW_ISIS seq 10 permit fc00::/8 le 128
ipv6 prefix-list ALLOW_ISIS seq 20 permit fd00::/8 le 128

bfd
 peer fd00:255::fffe
exit
