apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: "{{ hostvars[groups['kube_control_plane'][0]]['global_bootstrap_token'] }}"
    apiServerEndpoint: "[fd00:{{ second_hextet }}::10]:6443"
    caCertHashes:
      - "{{ hostvars[groups['kube_control_plane'][0]]['global_ca_cert_hash'] }}"

controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ ansible_host }}"
    bindPort: 6443
  certificateKey: "{{ hostvars[groups['kube_control_plane'][0]]['global_certificate_key'] }}"

nodeRegistration:
  kubeletExtraArgs:
    - name: "node-ip"
      value: "{{ ansible_host }},{{ ansible_default_ipv4.address }}"
