# TAYGA configuration file
tun-device nat64
ipv4-addr {{ tayga_ipv4_addr }}
ipv6-addr {{ tayga_ipv6_addr }}
prefix {{ tayga_ipv6_prefix }}
dynamic-pool {{ tayga_dynamic_pool }}
data-dir {{ tayga_data_dir }}