[global]
  fsid = {{ lookup('env','CEPH_FSID') }}
  auth_client_required = cephx
  auth_cluster_required = cephx
  auth_service_required = cephx

  # Public and cluster networks
  public_network  = {{ pve_ceph_network }}
  cluster_network = {{ pve_ceph_cluster_network }}

  mon_host = {{ groups.pve | map('extract', hostvars, 'ansible_host') | join(',') }}
  ms_bind_ipv4 = false
  ms_bind_ipv6 = true
  ms_bind_port = 3300

[client]
  keyring = /etc/pve/priv/{{ cluster }}.{{ ansible_hostname }}.keyring

{% for fs in ceph_csi_fs %}
[mds.{{ ansible_hostname }}]
  host = {{ ansible_hostname }}
  mds_standby_for_name = {{ fs.name }}
{% endfor %}

{% for mon in groups.pve %}
[mon.{{ hostvars[mon].ansible_host }}]
  public_addr = {{ hostvars[mon].ansible_host }}
{% endfor %}




