logging {
  debug: off
  to_syslog: yes
}

nodelist {
{% for host, cfg in corosync_nodes.items() %}
  node {
    name: {{ host }}
    nodeid: {{ cfg.nodeid }}
    quorum_votes: 1
    ring0_addr: {{ cfg.ring0_addr }}
  }
{% endfor %}
}

quorum {
  provider: corosync_votequorum
}

totem {
  cluster_name: {{ corosync_cluster_name }}
  config_version: {{ corosync_config_version }}
  interface { linknumber: {{ corosync_ring0_interface }} }
  ip_version: {{ corosync_ip_version }}
  link_mode: {{ corosync_link_mode }}
  secauth: {{ corosync_secauth }}
  version: 2
}
