---
#!ipxe

dhcp || goto netfail

# Vars
set menu-timeout 5000
set http_root {{ http_web_root }}

:start
echo >>> Proxmox PXE Menu
menu Select action
{% for host in groups['pve'] %}
item --key {{ loop.index }} {{ host }}   Install {{ host }}
{% endfor %}
item --gap -- Tools
item --key i install  Proxmox Installer
item --key s shell    iPXE Shell
item --key t test     Test network interfaces
item --key x exit     Exit to BIOS

choose --timeout ${menu-timeout} selected || goto cancel
goto ${selected}


{% for host in groups['pve'] %}
:{{ host }}
    echo Booting Proxmox installer for {{ host }}...
    dhcp || goto netfail
    set script=${http_root}/install/{{ host }}-install.sh
    kernel ${http_root}/pxe/vmlinuz-proxmox initrd=${http_root}/pxe/initrd-proxmox.gz script=${script}
    boot || goto failed
    goto start
{% endfor %}


:i
    echo Booting Proxmox Installer...
    dhcp || goto netfail
    kernel ${http_root}/pxe/vmlinuz-proxmox initrd=${http_root}/pxe/initrd-proxmox.gz
    boot || goto failed
    goto start

:shell
    shell
    goto start

:cancel
    echo No selection - dropping to shell
    shell
    goto start

:test
    echo Testing network settings...
    ifstat
    show ip
    route
    dhcp
    echo Testing HTTP fetch from ${http_root}...
    imgfetch ${http_root}/pxe/vmlinuz-proxmox || echo HTTP fetch failed
    goto start

:exit
    exit

:failed
    echo Boot failed - returning to menu
    sleep 5
    goto start

:netfail
    echo DHCP or network initialization failed - check cables or VLAN config
    sleep 5
    goto start

